Repository jacopone/claude-nixos-automation: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, check-markdown-frontmatter

ruff:
  name: ruff
  entry: ruff
  language: system
  args:
  - check
  - --fix

check-markdown-frontmatter:
  name: Check Markdown Frontmatter
  entry: python3 scripts/check-frontmatter.py
  language: system

fix: exclude all CLAUDE.md files from frontmatter check
  .pre-commit-config.yaml
Due: none

refactor: reorganize root directory - move test and debug scripts
  scripts/debug/analyze-all-projects-mcp.py
  scripts/debug/debug_confidence.py
  scripts/debug/debug_pattern_matching.py
  scripts/debug/migrate_imports.py
  scripts/test/complete_test_and_integrate.sh
  scripts/test/quick_test.sh
  tests/manual/test_cli.sh
  tests/manual/test_final.sh
  tests/manual/test_imports.py
  tests/manual/test_interactive_approval.py
  tests/manual/test_patterns_direct.py
  tests/manual/test_tier1_components.sh
  tests/manual/test_tier1_manual.py
  tests/manual/test_tier1_simple.py
Due: ruff

docs: archive outdated planning documents
  TIER1_TESTING_GUIDE.md
  docs/archive/2025-10-planning-docs/COMPREHENSIVE_AUTOMATION_ROADMAP.md
  docs/archive/2025-10-planning-docs/PERMISSIONS_AUTOMATION_SESSION_HANDOFF.md
Due: check-markdown-frontmatter

docs: merge TIER1_TESTING_GUIDE into TESTING.md
  TESTING.md
  docs/archive/2025-10-planning-docs/TIER1_TESTING_GUIDE.md
Due: check-markdown-frontmatter

Add three Claude Code hooks for enforcement and automation
  QUICK_START_NEW_FEATURES.md
  claude_automation/analyzers/package_differ.py
  claude_automation/deployment/__init__.py
  claude_automation/deployment/hook_deployer.py
  claude_automation/hooks/hooks.json
  claude_automation/hooks/modern_cli_enforcer.py
  claude_automation/hooks/nixos_safety_guard.py
  claude_automation/hooks/permission_auto_learner.py
  claude_automation/tools/permission_suggester.py
  flake.nix
  tests/test_permission_auto_learner.sh
Due: ruff, check-markdown-frontmatter

Fix NixOS Safety Guard to allow nixos-rebuild from wrapper script
  claude_automation/hooks/nixos_safety_guard.py
Due: ruff

Add user memory preservation to CLAUDE.md regeneration
  claude_automation/generators/project_generator.py
  claude_automation/templates/project-claude.j2
Due: ruff

feat: add Phase 1 intelligent disk health monitoring
  check-data-health.py
  claude_automation/analyzers/disk_health_monitor.py
  claude_automation/schemas/__init__.py
  claude_automation/schemas/health.py
  flake.nix
Due: ruff

feat: add Phase 1.5 history tracking and Phase 2 lifecycle management
  PHASE_1_5_AND_2_INTEGRATION.md
  claude_automation/analyzers/disk_health_monitor.py
  claude_automation/analyzers/disk_health_tracker.py
  claude_automation/analyzers/mcp_usage_analyzer.py
  claude_automation/analyzers/session_lifecycle_tracker.py
  claude_automation/schemas/__init__.py
  claude_automation/schemas/health.py
  claude_automation/schemas/lifecycle.py
Due: ruff, check-markdown-frontmatter

feat: implement MCP server removal in improvement applicator
  claude_automation/core/improvement_applicator.py
Due: ruff

fix: use correct field name 'impact' instead of 'action' for MCP removal
  claude_automation/core/improvement_applicator.py
Due: ruff

fix: critical agent workflow issues
  claude_automation/analyzers/global_mcp_analyzer.py
  claude_automation/templates/system-claude.j2
Due: ruff

perf: add caching to eliminate redundant parsing and scanning
  .claude/mcp.json
  claude_automation/analyzers/approval_tracker.py
  claude_automation/generators/project_generator.py
  claude_automation/generators/system_generator.py
  claude_automation/parsers/cached_nix_parser.py
Due: ruff

perf: parallelize adaptive learning analyzers for 1.5-2s speedup
  claude_automation/core/adaptive_system_engine.py
Due: ruff

feat: implement missing adaptive learning features (workflows + permissions)
  claude_automation/core/adaptive_system_engine.py
  claude_automation/core/improvement_applicator.py
  claude_automation/schemas/learning.py
Due: ruff

fix: address code review issues (type safety, git fallback, collisions, atomic writes)
  claude_automation/core/adaptive_system_engine.py
  claude_automation/core/improvement_applicator.py
  claude_automation/schemas/__init__.py
  claude_automation/schemas/learning.py
Due: ruff

feat: improve rebuild-nixos error visibility and analyzer health monitoring
  claude_automation/analyzers/health_checker.py
  claude_automation/core/adaptive_system_engine.py
  claude_automation/core/log_aggregator.py
  docs/PHASE_EXECUTION.md
Due: ruff, check-markdown-frontmatter

feat: add rejection tracking to prevent repeated suggestions
  claude_automation/analyzers/permission_pattern_detector.py
  claude_automation/analyzers/rejection_tracker.py
  claude_automation/analyzers/workflow_detector.py
  claude_automation/core/interactive_approval_ui.py
  claude_automation/schemas/__init__.py
  claude_automation/schemas/permissions.py
Due: ruff

feat: add tool usage analytics and extend rejection tracking
  claude_automation/analyzers/rejection_tracker.py
  claude_automation/analyzers/tool_usage_analyzer.py
  claude_automation/generators/tool_usage_analytics_generator.py
  claude_automation/schemas/permissions.py
  claude_automation/schemas/tool_usage.py
  claude_automation/templates/tool_usage_analytics.j2
  claude_automation/templates/tool_usage_status_minimal.j2
  claude_automation/tool_categories.py
  update-tool-usage-analytics.py
Due: ruff

feat: implement tiered permission detection with reliability-based confidence
  claude_automation/analyzers/meta_learner.py
  claude_automation/analyzers/permission_pattern_detector.py
  claude_automation/schemas/permissions.py
Due: ruff

feat: add CI metrics collection and deployment validation scripts
  scripts/collect-ci-metrics.py
  scripts/validate-deployment.sh
Due: ruff

refactor: reduce CLAUDE.md complexity and improve README discoverability
  README.md
  claude_automation/analyzers/health_checker.py
  claude_automation/analyzers/permission_pattern_detector.py
  claude_automation/generators/system_generator.py
  claude_automation/schemas/__init__.py
  claude_automation/schemas/core.py
  claude_automation/templates/shared/policies.j2
  claude_automation/templates/system-claude.j2
  claude_automation/validators/content_validator.py
Due: ruff, check-markdown-frontmatter

refactor: clean root directory, move CLI to module, modernize README
  CONTRIBUTING.md
  LICENSE
  README.md
  claude_automation/cli/__init__.py
  claude_automation/cli/check_data_health.py
  claude_automation/cli/run_adaptive_learning.py
  claude_automation/cli/setup_user_policies.py
  claude_automation/cli/update_directory_context.py
  claude_automation/cli/update_local_context.py
  claude_automation/cli/update_mcp_analytics.py
  claude_automation/cli/update_permissions.py
  claude_automation/cli/update_project.py
  claude_automation/cli/update_slash_commands.py
  claude_automation/cli/update_system.py
  claude_automation/cli/update_tool_analytics.py
  claude_automation/cli/update_usage_analytics.py
  claude_automation/cli/update_user_policies.py
  docs/guides/phase-integration.md
  docs/guides/quick-start-features.md
  flake.nix
  update-claude-configs-v2.sh
Due: ruff, check-markdown-frontmatter

fix: align tests with reliability-based confidence algorithm
  claude_automation/analyzers/permission_pattern_detector.py
  tests/integration/test_learning_cycle.py
  tests/unit/test_permission_patterns.py
Due: ruff

fix: handle missing metrics file in MetaLearner gracefully
  claude_automation/analyzers/meta_learner.py
  tests/contract/test_analyzer_contracts.py
Due: ruff

fix: use modern type union syntax for isinstance check
  tests/contract/test_analyzer_contracts.py
Due: ruff

fix: wrapper script paths and faster permission learning
  claude_automation/analyzers/permission_pattern_detector.py
  claude_automation/cli/run_adaptive_learning.py
  claude_automation/hooks/permission_auto_learner.py
  flake.nix
Due: ruff

docs: restructure README to emphasize intelligent learning
  README.md
Due: check-markdown-frontmatter

docs: reorganize documentation structure and add standard files
  README.md
  SECURITY.md
  docs/PHASE_EXECUTION.md
  docs/README.md
  docs/archive/2025-10-planning/CONTEXT_OPTIMIZATION_PLAN.md
  docs/archive/2025-10-planning/NIXOS_INTELLIGENCE_VISION.md
  docs/archive/2025-10-planning/QUICK_WINS.md
Due: check-markdown-frontmatter

fix: update tests to match TIER_1_SAFE min_occurrences=1 behavior
  tests/integration/test_learning_cycle.py
  tests/unit/test_permission_patterns.py
Due: ruff

chore: remove unused enforcer hooks
  claude_automation/hooks/modern_cli_enforcer.py
  claude_automation/hooks/nixos_safety_guard.py
Due: ruff

feat: fix permission auto-learning system
  claude_automation/analyzers/permission_pattern_detector.py
  claude_automation/deployment/hook_deployer.py
  scripts/parse_session_logs.py
Due: ruff

fix: update schema to include all 22 pattern categories
  claude_automation/schemas/permissions.py
Due: ruff

fix: sync hooks.json with deleted hook files + add validation
  claude_automation/deployment/hook_deployer.py
  claude_automation/hooks/hooks.json
Due: ruff

style: fix ruff formatting for CI
  claude_automation/deployment/hook_deployer.py
  scripts/parse_session_logs.py
Due: ruff

fix: uppercase pattern names for Claude Code validation
  claude_automation/analyzers/permission_pattern_detector.py
  claude_automation/schemas/permissions.py
  tests/integration/test_learning_cycle.py
  tests/unit/test_permission_patterns.py
Due: ruff

style: fix ruff formatting for CI
  tests/integration/test_learning_cycle.py
  tests/unit/test_permission_patterns.py
Due: ruff

fix: use explicit test runner commands instead of invalid wildcard
  claude_automation/analyzers/permission_pattern_detector.py
Due: ruff

fix: prevent bare pattern types from being added to permissions
  claude_automation/analyzers/permission_pattern_detector.py
  claude_automation/generators/intelligent_permissions_generator.py
  claude_automation/hooks/permission_auto_learner.py
  claude_automation/validators/__init__.py
  claude_automation/validators/permission_validator.py
  tests/unit/test_permission_validator.py
Due: ruff

Path conditions:
  ruff: any of: \.py$, but not: \.devenv/|result
  check-markdown-frontmatter: any of: \.md$, but not: ^CLAUDE\.md$
