Repository jacopone/claude-nixos-automation: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, check-markdown-frontmatter

ruff:
  name: ruff
  entry: ruff
  language: system
  args:
  - check
  - --fix

check-markdown-frontmatter:
  name: Check Markdown Frontmatter
  entry: python3 scripts/check-frontmatter.py
  language: system

fix: add validation to remaining permission-writing code paths (v2)
  claude_automation/core/improvement_applicator.py
  claude_automation/tools/permission_suggester.py
Due: ruff

fix: quieter adaptive learning output
  .claude/tool-analytics.md
  CLAUDE.md
  claude_automation/analyzers/meta_learner.py
  claude_automation/cli/run_adaptive_learning.py
  claude_automation/hooks/claude_tool_tracker.py
Due: ruff, check-markdown-frontmatter

fix: ultra-concise adaptive learning output
  claude_automation/cli/run_adaptive_learning.py
Due: ruff

style: fix ruff formatting for CI
  claude_automation/generators/intelligent_permissions_generator.py
  claude_automation/hooks/permission_auto_learner.py
Due: ruff

fix(adaptive-learning): complete approval UI for all suggestion types
  claude_automation/cli/run_adaptive_learning.py
  claude_automation/core/adaptive_system_engine.py
  claude_automation/core/improvement_applicator.py
  claude_automation/core/interactive_approval_ui.py
Due: ruff

docs(readme): reposition as permission learning engine
  README.md
Due: check-markdown-frontmatter

fix(permissions): fix regex patterns and threshold bounds
  claude_automation/analyzers/meta_learner.py
  claude_automation/analyzers/permission_pattern_detector.py
Due: ruff

fix: add newline/heredoc validation to permission_auto_learner
  claude_automation/hooks/permission_auto_learner.py
Due: ruff

fix: also reject __NEW_LINE__ marker in permissions
  claude_automation/hooks/permission_auto_learner.py
Due: ruff

fix: comprehensive permission validation with PostToolUse cleanup
  claude_automation/hooks/permission_auto_learner.py
  claude_automation/hooks/permission_cleaner.py
Due: ruff

refactor(permissions): adopt Boris Cherny style broad patterns
  claude_automation/hooks/permission_auto_learner.py
  claude_automation/templates/permissions/base.j2
  claude_automation/templates/permissions/nixos.j2
Due: ruff

refactor(generators): remove static tool extraction, use MCP-NixOS
  .gitignore
  claude_automation/generators/mcp_usage_analytics_generator.py
  claude_automation/generators/project_generator.py
  claude_automation/generators/system_generator.py
  claude_automation/generators/tool_usage_analytics_generator.py
  claude_automation/hooks/context_provider.py
  claude_automation/templates/project-claude.j2
  claude_automation/templates/system-claude.j2
  tests/contract/test_generator_contracts.py
  tests/integration/test_source_artifact_protection.py
Due: ruff

fix(template): add sandboxing and git workflow sections
  claude_automation/templates/project-claude.j2
Due: none

feat: Boris-style permissive permission learning
  claude_automation/analyzers/permission_pattern_detector.py
Due: ruff

feat: Boris-style architecture simplifications
  claude_automation/analyzers/meta_learner.py
  claude_automation/analyzers/permission_pattern_detector.py
  claude_automation/schemas/permissions.py
  tests/unit/test_meta_learner.py
Due: ruff

feat: hybrid global/local permission routing by tier
  claude_automation/analyzers/permission_pattern_detector.py
  claude_automation/cli/migrate_permissions.py
  claude_automation/generators/__init__.py
  claude_automation/generators/global_permissions_manager.py
  claude_automation/generators/intelligent_permissions_generator.py
  claude_automation/hooks/permission_auto_learner.py
  claude_automation/schemas/permissions.py
  tests/unit/test_global_permissions_manager.py
Due: ruff

docs: update README with tier-based permission routing
  README.md
Due: check-markdown-frontmatter

fix: check global settings when filtering existing patterns
  claude_automation/analyzers/permission_pattern_detector.py
  tests/integration/test_learning_cycle.py
  tests/unit/test_permission_patterns.py
Due: ruff

style: apply ruff formatting to all files
  claude_automation/analyzers/permission_pattern_detector.py
  claude_automation/cli/check_reproducibility.py
  claude_automation/cli/migrate_permissions.py
  claude_automation/generators/global_permissions_manager.py
  claude_automation/generators/intelligent_permissions_generator.py
  claude_automation/generators/system_generator.py
  claude_automation/hooks/context_provider.py
  claude_automation/hooks/permission_auto_learner.py
  claude_automation/hooks/permission_cleaner.py
  flake.nix
  tests/integration/test_source_artifact_protection.py
  tests/unit/test_global_permissions_manager.py
Due: ruff

feat: add CLAUDE.md suggestion engine and fix permission learner
  .claude/mcp-analytics.md
  .claude/tool-analytics.md
  .gitignore
  claude_automation/analyzers/__init__.py
  claude_automation/analyzers/claude_md_suggester.py
  claude_automation/cli/suggest_claude_md.py
  claude_automation/generators/project_generator.py
  claude_automation/hooks/permission_auto_learner.py
  claude_automation/schemas/__init__.py
  claude_automation/schemas/suggestions.py
  claude_automation/templates/project-claude-mcp.j2
  claude_automation/templates/project-claude-nix.j2
  devenv.nix
  flake.nix
  pyproject.toml
  scripts/test/complete_test_and_integrate.sh
  scripts/test/quick_test.sh
  tests/manual/test_cli.sh
  uv.lock
Due: ruff, check-markdown-frontmatter

fix: add missing generate() abstract method implementation
  claude_automation/generators/user_policies_generator.py
Due: ruff

fix: add missing stats keys to get_summary_stats methods
  claude_automation/generators/project_generator.py
  claude_automation/generators/system_generator.py
Due: ruff

fix: handle occurrences lookup when Claude reformats instruction
  claude_automation/analyzers/claude_md_suggester.py
Due: ruff

feat: add regression tests for fixed bugs
  tests/regression/__init__.py
  tests/regression/test_known_bugs.py
Due: ruff

feat(suggester): add deduplication and edit option
  claude_automation/cli/suggest_claude_md.py
Due: ruff

fix(suggester): correctly decode hyphenated folder names in session paths
  claude_automation/analyzers/claude_md_suggester.py
Due: ruff

refactor: extract modular components to reduce cyclomatic complexity
  claude_automation/analyzers/mcp_usage_analyzer.py
  claude_automation/analyzers/patterns/__init__.py
  claude_automation/analyzers/patterns/confidence.py
  claude_automation/analyzers/patterns/cross_folder_detector.py
  claude_automation/analyzers/permission_pattern_detector.py
  claude_automation/analyzers/recommendations/__init__.py
  claude_automation/analyzers/recommendations/mcp_recommendation_builder.py
  claude_automation/analyzers/recommendations/tool_recommendation_builder.py
  claude_automation/analyzers/sessions/__init__.py
  claude_automation/analyzers/sessions/fish_log_parser.py
  claude_automation/analyzers/sessions/session_parser.py
  claude_automation/analyzers/tool_usage_analyzer.py
  claude_automation/data/__init__.py
  claude_automation/data/pattern_categories.py
  claude_automation/data/tier_config.py
  claude_automation/data/tool_blocklist.py
  claude_automation/data/tool_categories.py
  claude_automation/data/validation_patterns.py
  claude_automation/hooks/permission_auto_learner.py
  claude_automation/parsers/nix_parser.py
  claude_automation/validators/permission_validator.py
Due: ruff

fix(hooks): use sys.path self-discovery instead of PYTHONPATH
  claude_automation/hooks/permission_auto_learner.py
  claude_automation/hooks/timestamp_injector.sh
Due: ruff

fix(ci): add missing anthropic and deps to devShell
  flake.nix
Due: none

fix(tests): update regression tests to match current generator API
  tests/regression/test_known_bugs.py
Due: ruff

fix(tests): pass config_dir explicitly to avoid _get_repo_root() call
  tests/regression/test_known_bugs.py
Due: ruff

fix(tests): use real tmp_path instead of mocking ProjectGenerator
  tests/regression/test_known_bugs.py
Due: ruff

style: format all files with ruff
  claude_automation/analyzers/claude_md_suggester.py
  claude_automation/analyzers/mcp_usage_analyzer.py
  claude_automation/analyzers/patterns/confidence.py
  claude_automation/analyzers/patterns/cross_folder_detector.py
  claude_automation/analyzers/permission_pattern_detector.py
  claude_automation/analyzers/sessions/fish_log_parser.py
  claude_automation/cli/suggest_claude_md.py
  claude_automation/data/pattern_categories.py
  claude_automation/data/tool_blocklist.py
  claude_automation/data/tool_categories.py
  claude_automation/data/validation_patterns.py
  claude_automation/generators/project_generator.py
  claude_automation/hooks/permission_auto_learner.py
  claude_automation/schemas/suggestions.py
  tests/regression/test_known_bugs.py
Due: ruff

docs: mark project as archived
  README.md
Due: check-markdown-frontmatter

Path conditions:
  ruff: any of: \.py$, but not: \.devenv/|result
  check-markdown-frontmatter: any of: \.md$, but not: ^CLAUDE\.md$
